.delop-tool{
    margin:0 auto;
    padding-left:5%;
    padding-right:5%;
    height:520px;
    text-align:center;
    .tool-title {
        font-size:38px;
        color:rgba(66,66,66,1);
        margin-top:20px;
        }
    .u-button{
        width:9%;
        height:45px;
        margin-bottom:20px;
    }
    .busi-comp-btn{
        background-color:rgba(225,76,70,1);
        border-radius:4px 0px 0px 4px;
    }
    .ref-comp-btn{
        background-color:rgba(255,255,255,1);
        border-radius:0px,4px,0px,4px;
    }
    .u-tile{
        width:370px;//磁贴宽度！！！
        height:74px;
        background-color:rgba(255,255,255,1);
        box-shadow:0px 0px 20px 0px rgba(0,0,0,0.1);
        border-radius:4px;
        font-size:14px;
        color:rgba(66,66,66,1);
        line-height:20px;
        margin-bottom:20px;
    }
    .tool-more-btn{
        width:200px;
        height:48px;
        border-radius:4px;
        border:1px solid rgba(66,66,66,1);
        background-color:rgba(255,255,255,1);   
        margin-bottom:111px; 
    }
} 