
.delop-tool{
    font-size: 38px;
    color: #424242;  
    max-height: 710px;
    margin: 0 auto;
    display: block;
    text-align: center;  
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    .tool-title{
        font-size: 38px;
        font-weight: 500; 
    }
    .tool-content{
        .tool-btns{
            .component{
                background: #fff;
                font-size: 20px;
                color: #424242;
                border-radius: 0;
                padding: 0;
                margin: 0 30px;        
            }
            .component.active{
                border-bottom: 2px solid #E14C46;
            }
            .component:hover{
                color: #E14C46;
            }
            -webkit-tap-highlight-color: transparent;
        }
        .tool-components{
            margin-top: 60px;
            min-height: 180px;
            .item-box{
                padding: 0 10px;
                margin: 10px 0;
                height: 70px;
                line-height: 70px;
            }
            .u-tile{
                padding: 0;
                border-color: #DFDFDF;
                cursor: pointer;
                font-size: 14px;
                -webkit-tap-highlight-color: transparent;
            }
            .u-tile:hover{
                color: #E14C46;
                box-shadow: 0px 0px 20px 0px #00000033;
            }
        }
    }
    .tool-more-container{
        .u-button{
            width: 190px;
            height: 48px;
            background: #e14c46;
            border-radius: 4px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 100px;
            font-size: 16px;
            color: #ffffff;
        }
        .u-button:hover{
            background: #bd423e;
        }
    }
    .u-tabs .u-tabs-tab-active, .u-tabs .u-tabs-tab-active:hover,.u-tabs .u-tabs-tab:hover{
        color: #e14c46;
    }
    .u-tabs .u-tabs-ink-bar{
        background-color: #e14c46;
    }
    
}
.tool-content .u-tabs-top{
    border:none;
    .u-tabs-tab{
        margin-left:15px;
        margin-right:15px;
    }
   
}
.u-tabs-upborder .u-tabs-nav .u-tabs-tab-active {
    color: #e14c46;
}

@media screen and (width:768px){
    .delop-tool{
        top: 193px!important;
    }
}
 @media screen and (max-width:768px){
.delop-tool{
    max-height: 1000px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -111px;
    top:98px;
    .u-tile{
        min-width: 270px;
        height: 74px;
        -webkit-tap-highlight-color: transparent;
    }
    .tool-content{
        .tool-btns{
            .u-button{
                margin: 0 4px;
                -webkit-tap-highlight-color: transparent;
            }
        }
    } 
    .tool-more-container{
        margin-bottom: 100px;
     }   
  }  
}
