.service{
    margin-top: 173px;
    padding-left: 15%;
    padding-right: 15%;
    .service-item{
        height: 330px;
        text-align:center;
        box-shadow: 0px 2px 20px 0px rgba(218, 230, 244, 1);
        padding-top: 43px;
        padding-bottom: 48px;
        img{
            height: 150px;
        }
        .item-title{
            display: block;
            font-size: 20px;
            color: #000000;
            margin-top: 35px;
        }
        .item-script{
            display: block;
            font-size: 14px;
            color: #9B9B9B;
            margin-top: 9px;
        }
    }
}