.footer{
    padding: 0;
    background: none;
    .footer-bg{
        background: url('//design.yonyoucloud.com/static/tinper-bee/logo/footer.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 609px;
        padding-top: 241px;
        .u-row{
            .link-title{
                color: #fff;
                font-size: 16px;
                margin-bottom: 37px;
                display: block;
            }
            a{
                color: #fff;
                font-size: 14px;
                line-height: 30px;
            }
            .sp-area{
                img{
                    width: 70px;
                    height: 70px;
                }
                span{
                    color: #fff;
                    display: inline-block;
                    padding-left: 10px
                }
            }
        }
    }
    .footer-bottom{
        height: 63px;
        background: #0D064A;
        text-align: center;
        color: #fff;
        line-height: 63px;
    }
}
@media screen and (max-width: 992px) {
    .footer{
        .empty{
            display: none;
        }
    }
}