.case {
    background: transparent;
    color: #424242;
    text-align: left;  
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 90px;
    .case-title {
        font-size: 30px;
        font-weight: normal; 
        line-height: 42px;
        p {
            margin: 40px 8px 15px;
        }
    }
    .case-desc {
        font-size: 14px;
        line-height: 30px;
        margin: 14px 8px;
    }
    .case-ctn-item {
        margin-bottom: 15px;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 500;
        color: #424242;
        .u-tile {
            border: 1px solid #dfdfdf;
            border-radius: 3px;
            display: block;
            min-height: 130px;
            &:hover {
                transition: transform .5s;
                transform: translateY(-6px);
                box-shadow: 0 1px 18px rgba(0, 0, 0, 0.05), 0 5px 30px rgba(0, 0, 0, 0.01);
                cursor: pointer;
                .product-title {
                    color: #E14C46;
                }
            }
            .product-title {
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #424242;
                letter-spacing: 0;
                margin: 17px 0 7px 0;
            }
            .product-desc {
                font-size: 12px;
                color: #26262C;
                font-weight: 300;
            }
            .u-row {
                display: flex;
                align-items: flex-end;
                .logo-container {
                    padding: 0;
                    img {
                        width: auto;
                        height: 48px;
                    }
                }
            }
        }
        img {
            width: 100%;
        }
    }
}

// 移动端适配
@media screen and (max-width:767px){
    .case .case-ctn-item .u-tile {
        min-height: 130px;
    }
}

// ipad 
@media screen and (min-width:768px) and (max-width:991px) {
    .case .case-ctn-item .u-tile {
        min-height: 130px;
        .u-row .logo-container img {
            height: 40px;
        }
    }
}