.nav{
    height: 65px;
    .nav-right{
        .nav-options{
            float: right;
            li{
                float: left;
            }
        }
        .u-button{
            float: right;
        }
    }
}