.case {
    background: #FAFAFA;
    font-size: 38px;
    color: #424242;  
    margin: 0 auto;
    display: block;
    text-align: center;  
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 90px;
    .case-title {
        font-size: 38px;
        font-weight: 500; 
    }
    .case-ctn-item {
        margin-bottom: 15px;
        padding-left: 7.5px;
        padding-right: 7.5px;
        .u-tile {
            padding: 0;
        }
        img {
            width: 100%;
        }
    }
}
