.develop-tools {
  margin: 0 auto;
  text-align: center;
  font-family: PingFang-SC-Medium;
  height: 800px;
}
.develop-tools .tools-title {
  font-size: 38px;
  font-weight: 500;
  color: #424242;
  line-height: 53px;
}
