.lang-ability {
    font-family:PingFang-SC-Medium;
    text-align:center;
    height:800px;
    background-color:rgba(225,76,70,1);
    color:rgba(255,255,255,1);
    margin:0 auto;
    .lang-title { 
        font-size:38px;
        padding-top:164px;
        margin-bottom:27px; 
    }
    .lang-content {
        width:65%;
        font-size:14px;
        padding-bottom:205px;
        margin: 0 auto;
    }
    .lang-base-first{
        font-size:17px;
    }
    .lang-base-second{
        font-size:17px;
    }
    .lang-base-third{
        font-size:17px;
    }
    .lang-base-forth{
        font-size:17px;
    }
} 