.lang-ability {
  font-family: PingFang-SC-Medium;
  text-align: center;
  width: 100%;
  height: 90%;
  background-color: #e14c46;
  color: #ffffff;
  margin: 0 auto;
}
.lang-ability .lang-title {
  font-size: 38px;
  font-weight: 500;
  padding-top: 9%;
  margin-bottom: 2%;
}
.lang-ability .lang-content {
  width: 65%;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 auto;
}
.lang-ability .lang-aspect {
  margin: 0 auto;
  width: 67%;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
