.richcontent{
    height:100%;
    overflow:hidden;
    background-size: cover;
    background-repeat:no-repeat;

    .img-div{
         position: relative;
         padding-top: 150px;
        //  margin-left:50px;
        margin-left:80px;
        .pic {
            height:610px; 
            vertical-align:middle;
            margin-bottom:20px;
        }
    }
    .richcase-text{
        margin-top:206px;
        margin-left:20px;
        width:340px;
        height:106px;
        .richcase-title{
            color: #fff;
            font-size: 38px;
            margin: 0;
        }
        .richcase-btn {
            border-radius:4px;
            width:190px;
            height:48px;
            color: #fff;
            background:#E14C46;
            font-size:16px;
            margin-top: 28px;
        }
        .richcase-btn:hover{
            background: #BD423E;
        }
    }
}

.mob-richcontent{
    min-height:667px;
    background:rgba(39,48,67,1);
    .img-div{
        // height:420px;
        margin-top:82px;
        margin-bottom:30px;
        display:inline-block;
        text-align:center;
        .pic{
            width:90%;
        }
    } 
    .richcase-text{
        display:inline-block;
        text-align:center;
        margin-top:3px;
        margin-left:13%;
        margin-right:13%;
        .richcase-title{
            color: #fff;
            font-size: 40px;
            margin: 0;
            font-size:40px;
            font-weight:500;
            color:rgba(255,255,255,1);
            //line-height:56px;
        }
        .richcase-btn {
            border-radius:4px;
            width:190px;
            height:48px;
            color: #fff;
            background:#E14C46;
            font-size:16px;
            margin-bottom:100px;
            margin-top:37px;
        }
    }
}

@media screen and (max-width:800px){
    .richcontent{
        display:none;
    }
  }
  
  
@media screen and (min-width:800px){
    .mob-richcontent{
        display:none;
    }
}

// .richcase-content {
//     height:100%;
//     background: #fff;
//     position: relative;
//     overflow: hidden;
//     .img-div{
//         position: relative;
//         margin-top: 150px;
//         margin-left: 5%;
//         .pic {
//             height:610px; 
//             vertical-align:middle;
//             margin-bottom:20px;
//             //margin-bottom:20px;s
//          }
//     }
//     .para1{
//         height: 100%;
//         background:#273043;
//         position: absolute;
//         width: 200%;
//         left: -50%;
//         bottom: 50%;
//         transform: rotate(11deg);
//     }
//     .para2{
//         width: 0;
//         height: 0;
//         border-top: 100px solid #273043;
//         border-left: 400px solid transparent;
//     }
//     .richcase-text{
//         position: absolute;
//         top: 140px;
//         //right: 80px;
//         right: 90px;
//         padding-top:90px;
//         width:340px;
//         height:106px;
//         .richcase-title{
//             color: #fff;
//             font-size: 38px;
//             margin: 0;
//         }
//         .richcase-btn {
//             border-radius:4px;
//             width:190px;
//             height:48px;
//             color: #fff;
//             background:#E14C46;
//             font-size:16px;
//             margin-top: 28px;

//         }
//         .richcase-btn:hover{
//             background: #BD423E;
//         }
//     }
// }


// .mob-richcase-content{
//     height:667px;
//     background:rgba(39,48,67,1);
//     .pic{
//         height:380px;
//     }
//     .content{
//         .richcase-title{
//             width:240px;
//             height:112px;
//             font-size:40px;
//             font-weight:500;
//             color:rgba(255,255,255,1);
//             line-height:56px;      
//         }
//         .richcase-btn{
//             width:375px;
//             height:667px;
//             background:rgba(225,76,70,1);
//             border-radius:2px;
//             font-size:16px;
//             font-weight:500;
//             color:rgba(255,255,255,1);
//             line-height:22px;
//         }
//     }
// }



// @media screen and (max-width:800px){
//     .richcase-content{
//         display:none;
//     }
//   }
  
  
// @media screen and (min-width:800px){
//     .mob-richcase-content{
//         display:none;
//     }
// }