.richcase-content {
  height: 100%;
  font-family: PingFang-SC-Medium;
  background: #e14c46;
}
.richcase-content .richcase-title {
  font-size: 38px;
  color: #ffffff;
  margin-left: 76%;
  padding-top: 10%;
  margin-bottom: 1.5%;
}
.richcase-content .richcase-btn {
  font-size: 16px;
  color: #ffffff;
  margin-left: 76%;
  margin-bottom: 10%;
  width: 13%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
}
