.richcase-content {
    height:851px;
    font-family:PingFang-SC-Medium;
    //background:rgba(225,76,70,1);
    .pic {
       height:610px; 
       vertical-align:middle;
       margin-bottom:130px;
    }
    .para1{
       height:288px;
       background:red;
    }
    .para2{
        width: 0;
        height: 0;
        border-top: 100px solid red;
        border-left: 400px solid transparent;
       // background:rgba(225,76,70,1);
    }
    .richcase-title {
        font-size:38px;
        color:rgb(255,255,255,1);
        margin-left:76%;
        padding-top:10%;
        margin-bottom:1.5%;
    }
    .richcase-btn {
        font-size:16px;
        color:rgb(255,255,255,1);
        margin-left:76%;
        margin-bottom:10%;
        width:13%;
        height:48px;
        border-radius:4px;
        border:1px solid rgba(255,255,255,1);
        background-color:transparent;
    }
}