.footer {
    width:100%;
    height:570px;
    background:rgba(28,28,28,1);
    border-radius:2px;
    color: rgba(255,255,255,1);
    font-family:PingFang-SC-Medium;
    .footer-top-items {
        height:483px;
        margin:0 auto;
        .footer-top-item {
            display:inline-block;
            vertical-align:top;
            font-size:14px; 
            margin-left:6%;
        }
    }
    .footer-middle {
        color:rgba(255,255,255,1);
        height:2px;
    }
    .footer-base {
        height:85px;
        .footer-base-font-container {
            width:100%;
            height:40px;
            margin:0 auto;//使div水平居中
            .footer-base-font {
                font-size:14px;
                color:rgba(149,154,165,1);
                line-height:20px;
                text-align:center;
            }
        }
    }
}