#app {
    a.link{
        display: inline-block;
        width: 100%;
    }
}

// 移动端适配
@media screen and (max-width:767px){
    .banner{
        .banner-bg{
            background: url('//design.yonyoucloud.com/static/tinper-bee/logo/mobilebanner.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        .header{
            padding-left: 5%;
            padding-right: 5%;
            height: 64px;
            line-height: 64px;
            background: url('//design.yonyoucloud.com/static/tinper-bee/logo/bannerBG.png');
            background-size: 100% 64px;
        }
        .left-text{
            padding-left: 5%;
            width: 100%;
            color: #fff;
            padding-top: 105px;
            .tinper img{
                height: 13px;
            }
            .tinper-title{
                font-size: 25px;
                margin-bottom: 0;
            }
            .tinper-ctn{
                font-size: 13px;
                line-height: 20px;
                margin-top: 10px;
            }
        }
        .img-bg{
            display: none;
        }
        .img-mobile-bg{
            width: 100%;
            display: block;
            padding-top: 60px;
        }
        .design{
            padding-left: 5%;
            padding-right: 5%;
            position: unset;
            h1{
                margin-top: 60px;
            }
            .design-item{
                margin-bottom: 50px;
                .img{
                    height: 90px;
                    width: 90px;
                    padding-top: 22px;
                    img{
                        height: 45px;
                        width: 45px;
                    }
                }
                .design-item-h{
                    font-size: 14px;
                    margin-top: 13px;
                }
            }
        }
    }
    .technology{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        margin-top: 0;
        margin-top: 70px;
        top: 0;
        .title-h1{
            margin-bottom: 30px;
        }
        .u-row{
            .u-col-xs-12{
                margin-top: 30px;
            }
            .u-col-xs-12:nth-of-type(3){
                padding-left: 0;
            }
            .u-col-xs-12:nth-of-type(2){
                padding-right: 0;
            }
            .ctn{
                text-align: unset;
                height: 145px;
                padding-right: 10px;
                .ctx{
                    float: right;
                    padding-left: 10%;
                    .ctx-title{
                        font-size: 12px;
                        top: 30px;
                    }
                    .description{
                        top: 50px;
                    }
                    a{
                        font-size: 12px; 
                        bottom: 20px;
                    }
                }
                img{
                    width: 50%;
                    display: inline-block;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    margin-top: -65px;
                    max-height: 145px;
                }
            }
            .ctn-1 {
                padding-left: 0;
                img{
                    width: 50%;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    top: auto;
                    margin-top: 0;
                }
                .img-right{
                    display: none;
                }
                .ctx {
                    width: 50%;
                    float: right;
                }
            }
        }
    }
    .service{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 120px;
        top: 0;
        .u-col-xs-12{
            margin-bottom: 30px;
            padding: 0;
        }
        .service-item{
            height: 165px;
            padding-top: 10px;
            padding-bottom: 24px; 
            img{
                width: 75px;
                height: 75px;
            }
            .item-title{
                margin-top: 17px;
            }
        }
    }
    .case{
        margin-top: 90px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer{
        margin-top: 0;
        .footer-bg{
            height: 130px;
            background-size: 100% 160px;
        }   
        .links{
            padding-left: 5%;
            padding-right: 5%;
            .u-row{
                top: -60px;
                .u-col-xs-12{
                    text-align: center;
                    margin-bottom: 25px;
                    .link-title{
                        margin-bottom: 20px;
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .sp-area .sp-area-span{
                        display: block;
                        margin-top: 10px;
                        padding: 0;
                        position: unset;
                    }
                }
                .u-col-xs-12:nth-of-type(6){
                    margin-bottom: 0;
                }
                a{
                    font-size: 12px;
                }
            }
        }
        .footer-bottom{
            height: auto;
            line-height: 30px;
            padding: 30px 5%;
            font-size: 12px;
        }
    }
    .title-h1{
        font-size: 17px;
    }
}

// ipad pro
@media screen and (min-width:768px) and (max-width:991px) {
    .banner{
        .banner-bg{
            background: url('//design.yonyoucloud.com/static/tinper-bee/logo/mobilebanner.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
        .header{
            padding-left: 5%;
            padding-right: 5%;
            height: 64px;
            line-height: 64px;
        }
        .left-text{
            padding-left: 5%;
            width: 100%;
            color: #fff;
            padding-top: 65px;
            position: relative;
            top: 30px;
            background: linear-gradient(to right, #425FEF, #4469F0, #456EF1, #4774F2, #487BF3, #4A83F4, #4980F3, #4B89F5, #4D91F6, #4B8CF5, #4D92F6, #4E98F6, #4F9CF7, #51A4F8 100%);
        }
        .img-bg{
            margin-top: 0;
        }
        .design{
            padding-left: 5%;
            padding-right: 5%;
            position: unset;
            .design-item{
                margin-bottom: 50px;
            }
        }
    }
    .technology{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        margin-top: 0;
        .u-row{
            .u-col-xs-12{
                margin-top: 30px;
            }
            .u-col-xs-12:nth-of-type(3){
                padding-left: 0;
            }
            .u-col-xs-12:nth-of-type(2){
                padding-right: 0;
            }
            .ctn-1 {
                img{
                    width: 50%;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    margin-top: -65px;
                }
                .img-right{
                    display: none;
                }
                .ctx {
                    width: 50%;
                    padding-left: calc(50% - 234px);
                    float: right;
                }
            }
            .ctn{
                .ctx{
                    float: right;
                }
                img{
                    width: 50%;
                    display: inline-block;
                    height: 100%;
                }
            }
        }
    }
    .service{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 110px;
        .u-col-xs-12{
            margin-bottom: 30px;
        }
    }
    .case{
        margin-top: 110px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer{
        .footer-bg{
            height: 130px;
            background-size: 100% 160px;
        }   
        .links{
            padding-left: 5%;
            padding-right: 5%;
            .u-row{
                top: -60px;
                .u-col-xs-12{
                    text-align: center;
                    margin-bottom: 50px;
                    .link-title{
                        margin-bottom: 20px;
                    }
                    .sp-area .sp-area-span{
                        display: block;
                        margin-top: 10px;
                        padding: 0;
                    }
                }
                .u-col-xs-12:nth-of-type(6){
                    margin-bottom: 0;
                }
            }
        }
        .footer-bottom{
            height: auto;
            line-height: 30px;
            padding: 30px 5%;
        }
    }
    .footer .links .u-row .sp-area span{
        padding-left: 0;
    }
    .technology {
        .u-row .ctn-1 img{
            margin-top: -130px;
            height: auto;
        }
        .u-row .u-col-sm-6:nth-of-type(2){
            padding-right: 10px;
        }
        .u-row .u-col-sm-6:nth-of-type(3){
            padding-left: 10px;
        }
    }
}